/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.belt {
  grid-area: bt;
  display: flex;
  justify-content: space-evenly;
}

.house {
  width: 270px;
  height: auto;
  margin: auto;
}

/* .street {
  position: relative;
} */

html {
  background: url('https://i.imgur.com/lAzfBmF.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bucket-container {
  /* display: inline;

  float: right;
  margin-top: 200px; */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: orange;
}

.bucket {
  height: 250px;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  padding-top: 25px;
  margin: auto;
  display: block;
}

.energy {
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
  margin-left: 12%;
}

/* .bar {
  width: 250px;
  height: 40px;
  background-color: red;

} */
.bar{
  height: 40px;
  background-color: pink;
}